<% layout('layouts/app') %>


<h1>Semua Wisata</h1>
<a href="javascript:void(0)" class="btn btn-primary mt-2 mb-4 bg-primary" data-bs-toggle="modal" data-bs-target="#addPlaceModal">Tambah</a>

<!-- <a href="places/create" class="btn btn-primary mt-2 mb-4">Tambah</a> -->
  <!-- Modal -->
<div class="modal fade" id="addPlaceModal" tabindex="-1" aria-labelledby="addPlaceModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addPlaceModalLabel">Tambah Tempat Wisata</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form
        action="/places"
        method="post"
        class="validated-form"
        novalidate
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Judul</label>
          <input
            type="text"
            name="place[title]"
            id="title"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please select a valid state.</div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Lokasi</label>
          <input
            type="text"
            name="place[location]"
            id="location"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please select a valid state.</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Deskripsi</label>
          <input
            type="textarea"
            name="place[description]"
            id="description"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please select a valid state.</div>
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Harga</label>
          <input
            type="text"
            name="place[price]"
            id="price"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please select a valid state.</div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Gambar</label>
          <input class="form-control"
            type="file"
            name="image"
            id="image"
            accept="image/*"
            multiple
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please select a valid state.</div>
        </div>
        <button type="submit" class="btn btn-success">Simpan</button>
      </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

  <% for(const place of places) { %>
    <div class="card mb-3">
      <div class="row">
        <div class="col-md-4">
          <img src="/images/<%= place.images && place.images.length > 0 ? place.images[0].filename : 'default.jpg' %>" 
          alt="<%= place.title %>" 
          class="img-fluid">
     
        </div>
        <div class="col-md-8 p-4">
          <h5 class="card-title"><%= place.title %></h5>
          <p class="card-title"><%= place.description %></p>
          <p class="card-text">
            <small class="text-secondary"><%= place.location %></small>
          </p>
          <a href="/places/<%= place._id %>" class="btn btn-primary">Lihat <%= place.title %></a>
          
        </div>
      </div>
    </div>
  <% } %>

